body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, rgba(238,37,37,1) 0%, rgba(253,187,45,1) 100%);
  }
  
  .add-event-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .add-event-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add-event-form input[type='text'],
  .add-event-form select {
    width: 150px; /* Reduz a largura dos campos */
    padding: 8px;
    margin-bottom: 10px; /* Diminui a margem inferior */
  }
  
  .add-event-form input[type='submit'] {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px; /* Ajusta o padding do botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Reduz o tamanho da fonte */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(150deg, rgba(238, 37, 37, 1) 0%, rgba(253, 187, 45, 1) 100%);
  }
  
  img {
    width: 25%;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 220px;
    height: 320px;
  }
  
  .login .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login input {
    border: 0px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  .login .inputs div {
    display: flex;
    background-color: white;
    font-size: 1rem;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
  }
  
  .login .cadastro {
    position: relative;
    top: 30px;
  }
  
  .login .title {
    position: relative;
    bottom: 30px;
    font-weight: bold;
  }
  
  a {
    font-size: 11px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .button,
  button {
    background-color: #ee3925;
    border: 0px;
    color: white;
    padding: 4px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  