.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 220px;
    background: var(--light);
    height: 100vh;
    padding: 0 10px;
    transition: all 0.3s ease;
}

.sidenav .logo {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    padding-top: 6px;
    justify-content: center;
}

.sidenav .logo .logo-name span {
    color: var(--dark);
}

.sidenav .logo img {
    width: 34px;
    display: flex;
    justify-content: center;
}

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar-top i {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 0 3px 20px;
    cursor: pointer;
    color: var(--dark);
}

.close {
    width: 25px;
}

.close .sidebar-top .logo {
    display: none;
}

.close .sidebar-top i {
    padding: 20px 0;
}

.sidebar-bottom {
    background: var(--background);
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-bottom .user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #f6f6f9;
    margin-left: 15px;
    font-size: 14px;
}

.sidebar-bottom .user span{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 17%;
    gap: 5px;
}

.sidebar-bottom .user span a,
.sidebar-bottom .user span i{
    text-decoration: none;
    color: var(--light);
}
.sidebar-bottom .user img {
    width: 40px;
    border-radius: 40px;
}

.sidebar-bottom .bx-log-out {
    padding-right: 10px;
    font-size: 1.6rem;
    color: #930D0D;
    font-weight: bold;
}

.close .sidebar-bottom .user span,
.close .sidebar-bottom i {
    display: none;
}

.close .sidebar-bottom .user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5px;
}