.search-bar {
    position: relative;
    z-index: 2000;display: flex;
    height: 33px;
    top: 15px;
    left: 3%;
    
}

.search-bar input {
    z-index: 2000;
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    border-radius: 36px 0 0 36px;
    outline: none;
    color: var(--dark);
    background: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-bar .search::placeholder{
    color: var(--dark);
}

.search-bar button {
    width: 40px;
    border-radius: 0 36px 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: #f6f6f9;
    font-size: 18px;
    border: none;
    outline: none;
    font-size: 1.4rem;
}